
Sparkline {
    width: 20;   /* or any reasonable width */
    height: 1;   /* optional, for thin sparkline */
}

Vertical {
    border: solid green;
}

Horizontal {
    border: solid blue;
    width: auto;
}

Static {
    border: solid yellow;
    width: auto;
}

#host-info-container {
    border: solid red;
    align: center middle;
    height: auto;
}

#memory-vertical {
    align: center top;
    width: auto;
    height: auto;
}