VerticalScroll  {
    height: 20; /* or auto if inside a grid */
    border: solid white;
}

Header {
    border: solid black;
}

VerticalScroll:focus {
    border: solid yellow;
}

Container {
    border: solid purple;
}

TabbedContent {
    border: solid green;
}

Footer {
    border: solid white;
}

Grid {
    border: solid red;
}

.l1 {
    layout: grid;
    grid-size: 2;
    grid-columns: 1fr 1fr;
}

.l2 {
    layout: grid;
    grid-size: 2;
    grid-columns: 1fr 1fr;
}


.l1-vertical, .l2-vertical {
    layout: vertical;
    overflow-y: auto;   /* Enables scrolling */
}
